@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mobile-screen {
    @apply lg:max-w-md mx-auto h-full px-6 text-white;
  }
  .form-validation {
    @apply focus:outline-none focus:border-[#55BB6C] focus:ring-1 focus:ring-[#55BB6C]
    disabled:bg-slate-500 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
    invalid:border-red-600 invalid:text-red-600
    focus:invalid:border-red-600 focus:invalid:ring-red-600;
  }

  .form-style {
    @apply w-full text-sm border border-[#e9ebd94d] p-2 rounded-lg text-start bg-transparent placeholder:text-white px-2;
  }
}
/* Hide scrollbar for Chrome, Safari and Opera */
body {
  height: 100dvh;
  /* min-height: -webkit-fill-available; */
  margin: 0;
  min-width: 320px;
  color: whitesmoke;
  display: relative;
  overflow-y: hidden;
  padding: 0;
  background-color: #000000;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

a {
  font-weight: 500;
  color: #55bb6c;
  text-decoration: inherit;
}
a:hover {
  color: #55bb6c;
}
.test-color {
  color: #5758585d;
}
.qr-scanner svg {
  /* position: relative !important; */
  display: none;
}

.qr-scanner video {
  /* position: relative !important; */
  object-fit: fill;
}


.qr-code svg {
  height: inherit;
}

.asset-btn {
  background: linear-gradient(
      0deg,
      rgba(148, 162, 171, 0.4),
      rgba(148, 162, 171, 0.4)
    ),
    linear-gradient(0deg, rgba(148, 162, 171, 0), rgba(148, 162, 171, 0));
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #55bb6c;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #55BB6C;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.bg-faded {
  background-color: rgba(148, 162, 171, 0.267);
}

*:focus {
  outline: none;
}

number:focus,
button:focus,
input:focus {
  outline: none;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
